.node {
    background-color: #F7FFF7;
    margin: 0;
    transition: background-color 0.3s;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
}

.node-start {
    background-color: #277276 !important;
}

.node-end {
    background-color: #FF6B6B !important;
}

.node-active{
    background-color: #f7dd5d;
}

.node-block {
    background-color: #000000;
}

.node-path {
    background-color: #4ecfc4;
}

.edge-point {
    font-size: 25px;
    padding: 0px;
    margin: auto;
}