.node {
    background-color: white;
    margin: 0;
    transition: background-color 0.3s;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
}

.node-active{
    background-color: #FFD700;
}

.node-block {
    background-color: #000000;
}

.node-path {
    background-color: blue;
}

.edge-point {
    font-size: 25px;
    padding: 0px;
    margin: auto;
}